@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cider Site - Blog";
}

@model CiderSite.Models.Blog
@using CiderSite.Models

<div class="row trans-background-profile">
    <div class="blog-details">
        <h3>@Html.DisplayFor(model => model.Title)</h3>
        <h5>@Html.DisplayFor(model => model.Author)</h5>
        @if (Model.Data != null)
        {
        <img src="@Model.getImage().ToString()" />
        }
        <p>@Html.DisplayFor(model => model.BodyCopy)</p>
    </div>

    @if (Model.BlogComments.Count() != 0)
    {
        <h5>Comments</h5>
        @foreach (var comment in Model.BlogComments)
        {
            <div class="comment">
                @comment.Body
            </div>
        }
        <br />
    }

    @*@if (User.Identity.IsAuthenticated)*@
    @if (User.Identity == Model.User)
    {
        <div><span class="read-article">@Html.ActionLink("Edit article", "Edit", "Blog", new { id = Model.BlogId })</span> <span class="read-article">@Html.ActionLink("Delete article", "Delete", "Blog", new { id = Model.BlogId })</span></div>
    }

    <p>@Html.ActionLink("Add a comment", "Create", "BlogComment", new { id = Model.BlogId })</p>
</div>