@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cider Site - Blog";
}
@model CiderSite.Models.Blog

<div class="blog-details">
    <h3>@Html.DisplayFor(model => model.Title)</h3>
    <h5>@Html.DisplayFor(model => model.Author)</h5>
    <img src="@Model.getImage().ToString()" />
    <p>@Html.DisplayFor(model => model.BodyCopy)</p>
    <div><span class="read-article">@Html.ActionLink("Edit article", "Edit", "Blog", new { id = Model.Id })</span> <span class="read-article">@Html.ActionLink("Delete article", "Delete", "Blog", new { id = Model.Id })</span></div>
</div>