@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cider Site - Account";
}
@using CiderSite.Models
@using System.Security.Claims

@model List<Blog>

<div class="profile-hello">
    <h4>Hello, @User.Identity.Name - Here are your articles.</h4>
</div>

<div class="row trans-background-profile">
    <div class="profile-blog-list">
        <p class="profile-links">@Html.ActionLink("Write a new article", "Create", "Blog") <span class="pipe-separator"></span> @Html.ActionLink("View your recipes", "Index", "Recipe")</p>
        @foreach (var blog in Model)
        {
            <div class="profile-blog blog-list">
                <div class="blog-list-photo">
                    <img src="@blog.getImage()" />
                </div>

                <div class="blog-content">
                    <h4>@blog.Title</h4>
                    <h5>@blog.Intro</h5>

                    <div> <span class="read-article">@Html.ActionLink("Go to article", "Details", "Blog", new { id = blog.BlogId })</span> </div>
                </div>
            </div>

        }
    </div>
</div>